
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v15/Browse.VC.db
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.db
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.db-shm
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.db
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.opendb
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.db
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.db-shm
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v15/.suo
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/.suo
*.db
MurachsCPlusPlus/.vs/MurachsCPlusPlus/v16/Browse.VC.db-shm
